.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  margin: auto 130px;
}

.nav-m {
  margin-left: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.group {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.clothes {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.product {
  display: flex;
  justify-content: center;
}

.product-description {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.responsive {
  width: 100%;
  height: auto;
}

.prize {
  color: rgb(43, 43, 43);
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Italiana', serif;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Italiana', serif;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.mr-10 {
  margin-right: 5px;
}

.ml-10 {
  margin-left: 5px;
}

.f-l {
  font-size: large;
}

.options-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-button {
  padding: 10px 20px 10px 20px;
  font-family: 'Italiana', serif;
  font-size: large;
  font-weight: bold;
  background-color: black;
  color: white;
}

.sizes-select {
  margin-bottom: 15px;
  font-family: 'Italiana', serif;
  font-size: large;
  font-weight: bold;
}

.heart-button {
  padding: 7px 10px 7px 10px;
  background-color: white;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 5px;
  font-size: small;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
